{% extends 'base.html' %} {% block content %}

<h1 class= "indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">Delete Category</h1>

<h4 class= "indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">
  Are you sure you want to delete
  <span class="indigo-text text-lighten-2">{{ object.name }}</span>?
</h4>

<form action="" method="post">
  {% csrf_token %}
  <input class="btn red" type="submit" value="Yes - Delete" />
  <a class="btn indigo lighten-2" href="{% url 'detail' object.id %}">Cancel</a>
</form>

{% endblock %}