{% extends 'base.html' %} {% block content %}

{% if object %}
<h1 class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">Edit <span class="indigo-text text-lighten-2">{{object.name}}</span></h1>
{% else %}
<h1 class="indigo-text text-lighten-2">Add Show</h1>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button class="btn indigo lighten-2" type="submit">SUBMIT!</button>
  <!-- <input type="submit" value="Submit!" class="btn" /> -->
</form>
{% endblock %}