{% extends 'base.html' %} {% block content %}

<h2 class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">What Is ShowEnjoyer</h2>
<hr />
<p class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">For people who enjoy shows and would like to remember them later! Everyone has been to a good show, but time has a way of blurring the details. With ShowEnjoyer, you can document your experiences and revisit them whenever you desire!</p>

<h2 class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">What life is possible with ShowEnjoyer?</h2>
<hr />
<p class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">ShowEnjoyer makes it possible for users to log into their personal account to enter their feelings about a recent live show they have attended. With ShowEnjoyer, users will be able to create a post with personalizations including favorite songs played, a personal reflection, and category for the show! Users will also be able to upload a photo of the event!</p>

<h2 class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">How many thousands of dollars does it cost to use ShowEnjoyer?</h2>
<hr />
<p class="indigo-text text-lighten-2" style="font-family: 'Oswald', serif;">ShowEnjoyer is free! All you will need to do is sign up for an account or log in! Once you are logged in, you will have access to all of ShowEnjoyer's features!</p>

{% endblock %}