{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Enjoyer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper indigo lighten-2" style="font-family: 'Oswald', serif;">
          <ul>
            <li>
              <a href="/" class="left brand-logo"><i class="material-icons">headset</i>&nbsp;&nbsp;ShowEnjoyer</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'shows_create' %}">Add Show</a></li>
            <li><a href="{% url 'index' %}">My Shows</a></li>
            <li><a href="{% url 'categories_index' %}">View All Categories</a></li>
            <li><a href="{% url 'categories_create' %}">Add Category</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container indigo lighten-5">{% block content %} {% endblock %}</main>
    <footer class="page-footer indigo lighten-2">
      <div class="right indigo lighten-2" style="font-family: 'Oswald', serif;">
        All Rights Reserved, &copy; 2022 ShowEnjoyer &nbsp;
      </div>
    </footer>
  </body>
</html>